@charset "UTF-8";

body {
	background-color: #f7f7f7;
}

h1, h3 {
	color: #0056b3;
}

p {
	 font-weight: 800;
}

.img-form {
	height: 200px;
	width: auto;
	display: block; 
	margin-left: auto; 
	margin-right: auto;

	
}
.img-table {
	height: 180px;
	width: auto;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	
	
}

.active {
	 font-weight: 900;
	 text-decoration: none;
}

#login {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

#formulario {
	width: 100%;
	max-width: 400px;
	padding: 15px;
	margin: auto;
}


.row-card {
	display: flex;
	flex-wrap: wrap;
}

.row-card .card {
	width: 32.5%;
	margin-right: 0.5%;
	margin-bottom: 0.5%;
	box-sizing: content-box;
}

.row-card .card img {
	margin-top: 10px;
}






