@charset "UTF-8";

body {
	background-color: #f7f7f7;
}

h1 {
	color: #0056b3;
}

p {
	 font-weight: 800;
}

.img-form {
	height: 200px;
	width: auto;
	display: block; 
	margin-left: auto; 
	margin-right: auto;

	
}
.img-table {
	height: 100px;
	width: auto;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	
}

.active {
	 font-weight: 900;
	 text-decoration: none;
}

#login {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}







